/* Global view */
body {
  font-family: 'Asap', sans-serif;
  background-color: #ebebeb;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  min-height: 500px;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 140px;
}

.header-container {
  background-color: rgb(60, 60, 60);
  min-height: 100px;
  margin-bottom: 40px;
  position: fixed;
  width: 100%;
}

header {
  max-width: 1024px;
  min-height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  width: 30%;
  margin-bottom: 40px;
  background-color: rgb(43, 226, 147);
}

.col p {
  font-size: 0.875rem;
  padding: 20px 25px;
  line-height: 1.25rem;
}

.hide-desktop {
  display: none;
}

.col img {
  width: 100%;
  height: auto;
}

.col p::first-line {
  font-weight: 700;
}

.navbutton {
  border: 1px solid white;
  padding: 10px 25px;
  margin-left: 20px;
}

.highlight {
  font-weight: 700;
}

.mob-wrapper {
  display: none;
}

.mob-nav {
  display: none;
  position: absolute;
}

/* Tablet view */
@media (max-width: 768px) {
  .col {
    width: 47%;
  }

  .hide-desktop {
    display: block;
  }

  nav {
    display: none;
  }

  .logo {
    padding-left: 20px;
  }

  .mob-wrapper {
    display: block;
    padding-right: 30px;
  }

  .burgermenu {
    width: 30px;
    color: coral;
  }

  .mob-nav {
    padding-top: 10px;
  }

  .mob-navbutton {
    display: block;
    background-color: coral;
    padding: 15px 30px;
    margin-left: -70px;
    text-align: center;
  }
}

/* Mobile view */
@media (max-width: 400px) {
  .col {
    width: 100%;
  }

  .hide-mobile {
    display: none;
  }
}
